* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  line-height: 100vh;
  background-color: rgb(223, 227, 223);
}

@keyframes scroll {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

.btn {
  overflow: hidden;
  margin: 20px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 30px;
  box-shadow: inset 1px 1px 20px rgb(65, 33, 33);
}

.btn span {
  display: inline-block;
  width: 175px;
  padding-left: 100%;
  animation: scroll 4s infinite linear;
}

div {
  height: 100%;
}

p {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  box-shadow: inset 1px 1px 20px rgb(167, 159, 159);
  cursor: pointer;
}

.buble {
  position: absolute;
}

input {
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 30px;
  box-shadow: inset 1px 1px 20px rgb(65, 33, 33);
}
